html, body, input, button {
  font-family: Sawasdee;
  font-size: 20px;
}

.row {
  display: flex;
}

.brick {
  height: 40px;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.selected {
  box-sizing: border-box;
  border: 3px black solid;
}